.content {
    color: darkblue;
}

.submit-button{
    font-size:200%;
    color:#23a950;
    text-align: center;
}
body {
    background: white;
    background: white;
    background: white;
    margin: 0;
    height: 800px;
    text-align: center; 
    width: 100%;
  }
  
  h1 {
    color: black;
    font-size: 3em;
    width: 100%;
    font-family:Georgia;
    text-align: center;
    text-decoration: underline;
    font:bold;

  }
  
  h2 {
    border-bottom: 1px solid white;
    color: black;
    font-weight: 100;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    font-family:Georgia;
    text-decoration: underline;
  }
  h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    font-family:Georgia;
    text-decoration: underline;
  }
  .nav { 
    background:#7413dc;
    height: 80px; 
    width: 100%;
  }
  
  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    width:100%;
  }
  
  .nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    width: 19.5%;
  }
  
  .btn:hover, .nav ul li:hover {
    background: #117bff;
    cursor: pointer; }

    * {box-sizing:border-box}

    

  p {
    color:#e22e12;
    line-height: 1.3em;
    text-align: center;
    width: 100%;
    font-family:Helvetica;
    font-size: 18px;
    font-weight:normal;
    padding: 10px;
    padding-top: 0;
    font-weight: bold;
    
  }
  
  .caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color:White;
    color:black;
    opacity:0.75;
  }
  

  .intro {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  


  .navbar-item{
    text-decoration: none;
  }    


  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
    color:black;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 50%;
  }
  
  .btn:hover {
    background-color: #45a049;
    font-size: 50%
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
 
  @media (max-width: 800px) {

    .col-25 {
      margin-bottom: 20px;
    }
  }


  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  div {
    animation-duration: 2s;
    animation-name: bounceIn;
  }
  div {
    animation: bounceIn 2s;
  }


 
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #7413dc;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background-color: black;
    display: block;
    position: absolute;
    left: 0%;
    top: 0;
    width:15%;
    height:100%;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #7413dc;
    color: white;
  }



/* RESPONSESIVE MOBILE CSS SECTION*/



/* For desktop: */
[class*="col-"] {
    width: 50%;
}

  
  @media (max-width: 600px) {
    /* For mobile: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media (max-width: 1025px) {
    /* For tablet: */
      

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }